*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(1, 45, 120, 0.8),
    rgba(2, 95, 180, 0.8)
  );
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  color: yellow;
  letter-spacing: 0.5rem;
  padding-top: 2rem;
}

.container {
  height: 65vh;
  position: relative;
}

.ad {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.masks {
  position: relative;
  height: 95vh;
  padding: 2rem;
}
.masks-ad {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mask-heading {
  position: absolute;
  top: 3%;
}
.mask-heading > h2 {
  color: red;
}

/* about section */

.section-about {
  background-color: #f7f7f7;
  padding: 10rem 0;
  /* margin-top: -20vh; */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    rgba(1, 45, 120, 0.8),
    rgba(2, 95, 180, 0.8)
  );
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15vh);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15vh);
}

.about-row {
  display: flex;
  flex-direction: column;
}

.about-text {
  font-size: 2rem;
  font-weight: 400;
}

.corona-decoration {
  color: red;
  text-transform: uppercase;
}
.about-text > p {
  margin-bottom: 2rem;
}
.about-image {
  width: 85vw;
}

.coc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coc-image {
  width: 30%;
  height: 30%;
}

.coc-container-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.coc-p {
  float: right;
}

/* footer */
.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
}
heading-secondary--footer {
  color: #fff;
}

footer > p > a,
.tel {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: yellow;
  text-transform: uppercase;
}

footer > p > span {
  display: inline-block;
}

/* utilities */

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
@media (min-width: 600px) {
  .container {
    height: 100vh;
    margin-top: 2rem;
  }
  .ad {
    padding: 2rem;
    width: 60%;
  }

  .masks {
    height: 85vh;
  }

  .mask-heading {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .masks-ad {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading-secondary {
    padding-top: 7rem;
  }
  .about-image {
    width: 55vw;
  }
  .coc {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .img-container {
    flex-direction: column;
    align-items: center;
  }
  .coc-image {
    width: 30%;
    height: 50%;
  }

  .coc-container-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .container {
    height: 100%;
    margin-top: 2rem;
  }

  .header {
    height: 140vh;
    padding: 2rem;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
  }

  .masks {
    height: 105vh;
  }

  .mask-heading {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .masks-ad {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading-secondary {
    font-size: 7rem;
  }
  .about-image {
    width: 55vw;
  }
}
